<div class="hero-unit">
  <h1 id="title"># Web Dev and Design</h1>

  <h2>This is the homepage for NYCDA Web Development and Design class taught by Ashley Williams. This class meets on Tuesday and Thursday between 6:30-9:30pm and goes on for 16 weeks.</h2>

  <p>
    <span class="herolinks"> Follow the class on twitter </span>| 
    <span class="herolinks"> View class resources on github </span>|
    <span class="herolinks"> Check out other NYCDA classes</span>
  </p>

  <p> <span class="herolinks"> Get in touch with the instructor! </span> heyashleyashley@gmail.com | @ag_dubs </p>
</div>

<div class="row-fluid">
  <div class="yellow span4">
    <h3>>> Twitter Feed</h3>
   <a class="twitter-timeline" href="https://twitter.com/NYCDA_WebDev" data-widget-id="309051847543504896">Tweets by @NYCDA_WebDev</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
  </div>
  <div class="blue span8">
    <h3>>> Upcoming Class</h3>
    <h4>7 Mar 2013</h4>
    <a href="https://www.dropbox.com/s/at0a7cd9tpgevmj/NYCDA%20WebDev%20-%20Day2Exercises.zip"><h5>Download Exercises</h5></a>

    <h5>Part D: : Frontin', Fast and Furious</h5>
  <div class="row-fluid">
    <div class="span7">
      <ul class="objectives">
        <li>Utilize HTML5 tags to semantically markup content</li>
        <li>Write the three most common CSS DOM selectors</li>
        <li>Write compund selectors</li>
        <li>Understand, employ, and debug cascade order</li>
        <li>Float elements and understand how to use clearfix</li>
        <li>Leverage inheritance and specificty to determine the priority of selectors</li>
        <li>Understand the box model, overflow, positioning, and centering, as it affects block, inline, and inline-block elements</li>
        <li>Understand D.R.Y. principles and how to refactor your CSS</li>
        <li>Familiarize yourself with style shorthand</li>
      </ul>
    </div>
    <div class="span4"><iframe src="http://www.rvl.io/ag_dubs/html-css-syntax-and-style/embed" width="200" height="150" scrolling="no" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe></iframe></div>
  </div>

  </div>
</div>

<footer>
  <div class="center products">
    <%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %>
    <%= link_to image_tag("ruby.png", alt: "Ruby"), 'http://www.ruby-lang.org/' %>
    <%= link_to image_tag("sinatra.png", alt: "Sinatra"), 'http://www.sinatrarb.com' %>
    <%= link_to image_tag("github.png", alt: "Github"), 'https://github.com' %>
    <%= link_to image_tag("bootstrap.png", alt: "Twitter Bootstrap"), 'http://twitter.github.com/bootstrap/' %>

    <%= link_to image_tag("html5.png", alt: "HTML5"), 'http://www.html5rocks.com' %>

    <%= link_to image_tag("css3.png", alt: "CSS3"), 'https://developer.mozilla.org/en-US/docs/CSS' %>
    <%= link_to image_tag("jquery.png", alt: "jQuery"), 'http://jquery.com' %>
  </div>
  (c) Ashley Williams, February 2013
</footer>