<div class="hero-unit">
  <h1 id="title"># Web Dev and Design</h1>

  <h2>This is the homepage for NYCDA Web Development and Design class taught by Ashley Williams. This class meets on Tuesday and Thursday between 6:30-9:30pm and goes on for 16 weeks.</h2>

  <p>
    <span class="herolinks"> Follow the class on twitter </span>| 
    <span class="herolinks"> View class resources on github </span>|
    <span class="herolinks"> Check out other NYCDA classes</span>
  </p>

  <p> <span class="herolinks"> Get in touch with the instructor! </span> heyashleyashley@gmail.com | @ag_dubs </p>
</div>

<div class="row-fluid">
  <div class="twitter span4">
    <h3>>> Twitter Feed</h3>
    <a class="twitter-timeline" href="https://twitter.com/NYCDA_WebDev" data-widget-id="306930968277680128">Tweets by @NYCDA_WebDev</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
  </div>
  <div class="upcoming span8">
    <h3>>> Upcoming Class</h3>
    <h4>5 Mar 2013: Hello, World</h4>

    <p class="quote"> “Everything must have a beginning, to speak in Sanchean phrase; and that beginning must be linked to something that went before. The Hindus give the world an elephant to support it, but they make the elephant stand upon a tortoise. Invention, it must be humbly admitted, does not consist in creating out of a void, but out of chaos; the materials must, in the first place, be afforded: it can give form to dark, shapeless substances but cannot bring into being the substance itself. In all matters of discovery and invention, even of those that appertain to the imagination, we are continually reminded of the story of Columbus and his egg. Invention consists of the capacity of seizing on the capabilities of a subject and in the power of molding and fashioning ideas suggested by it.” -Mary Shelley</p> 

    <h5>Part A: Class Syllabus, Scope, and Expectations (30min)</h5>
    <h6> Objectives </h6>
    <ul class="objectives">
      <li>Get to know me, help me get to know you, and get to know each other</li>
      <li>Understand the scope of the class as currently set out on the syllabus</li>
      <li>Familiarize yourself with the class schedule, structure, and resources</li>
      <li>Know when, where, and how to get help</li>
    </ul>

    <h5>Part B: "The Web is Agreement" (1hr)</h5>
    <h6> Objectives </h6>
    <ul class="objectives">
      <li>Explain the mechanics of building, uploading, and visiting a website in terms of the client, the server, and web protocols</li>
      <li>Understand the process by which a browser builds and displays a website</li>
      <li>Develop an understanding and appreciation for web standards and browser compatibility</li>
      <li>Identify the roles of HTML, CSS, and Javascript in constructing a website and the relationship between them</li>
      <li>Know the meaning of semantic web, and how the new HTML5 and CSS3 standards are forwarding that cause</li>
    </ul>

    <h5>Part C: Get Legit (1hr)</h5>
    <h6> Objectives </h6>
    <ul class="objectives">
      <li>Compare and contrast IDEs and TextEditors</li>
      <li>Get comfy in the Terminal</li>
      <li>Know what version control is, and how GitHub can be used to accomplish it</li>
      <li>Create a Github account and set up SSH</li>
      <li>Download an example website from the Twitter Bootstrap page and inspect the directory structure</li>
      <li>Understand the difference between and use cases of relative and absolute URLs</li>
      <li>Set up your first Github repo using the downloaded Bootstrap example</li>
    </ul>

    <h5>Homework</h5>
    <ul>
      <li>Get Google Chrome, Google Canary, Mozilla Firefox, and Safari installed on your personal machine</li>
      <li>Install Sublime Text 2 on your personal machine</li>
      <li>Play around with your bootstrap example; add content and commit your changes to github</li>
      <li>Identify one HTML5 tag that does not work on all browsers. Be prepared to share it with the class and explain which browsers do and do not support it.(HINT: if you need help with resources, check out this page)</li>
    </ul>
  </div>
</div>

<footer>
  <div class="center products">
    <%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %>
    <%= link_to image_tag("ruby.png", alt: "Ruby"), 'http://www.ruby-lang.org/' %>
    <%= link_to image_tag("sinatra.png", alt: "Sinatra"), 'http://www.sinatrarb.com' %>
    <%= link_to image_tag("github.png", alt: "Github"), 'https://github.com' %>
    <%= link_to image_tag("bootstrap.png", alt: "Twitter Bootstrap"), 'http://twitter.github.com/bootstrap/' %>

    <%= link_to image_tag("html5.png", alt: "HTML5"), 'http://www.html5rocks.com' %>

    <%= link_to image_tag("css3.png", alt: "CSS3"), 'https://developer.mozilla.org/en-US/docs/CSS' %>
    <%= link_to image_tag("jquery.png", alt: "jQuery"), 'http://jquery.com' %>
  </div>
  (c) Ashley Williams, February 2013
</footer>

